venv/
env/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
staticfiles/
media/
db.sqlite3
.env
.git/
.github/
.gitignore
.dockerignore
*.sqlite3
.coverage
htmlcov/
.pytest_cache/
.idea/
.vscode/
.DS_Store
