# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
